# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtualenv
.venv/
venv/

# Logs
logs/
*.log

# Runtime-Daten
originals/
optimized/
debug/
tmp/
temp/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Docker
*.pid

# Python cache
.pytest_cache/
failed/

# Private regression tests
tests-private/

